![NYC Skyline](images/nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np

In [2]:
# Load the data
airbnb_price_df = pd.read_csv("data/airbnb_price.csv")
airbnb_room_type_df = pd.read_excel("data/airbnb_room_type.xlsx")
airbnb_last_review_df = pd.read_csv("data/airbnb_last_review.tsv", sep='\t')

# Display the data
airbnb_price_df['price'] = airbnb_price_df['price'].str.extract('(\d+)').astype('int32')
airbnb_price_df.head()

   listing_id  price                nbhood_full
0        2595    225         Manhattan, Midtown
1        3831     89     Brooklyn, Clinton Hill
2        5099    200     Manhattan, Murray Hill
3        5178     79  Manhattan, Hell's Kitchen
4        5238    150       Manhattan, Chinatown

In [3]:
airbnb_room_type_df.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [4]:
# Format the date and display
airbnb_last_review_df['last_review_date'] = airbnb_last_review_df['last_review'].apply(pd.to_datetime, errors='coerce').apply(lambda x: x.strftime("%Y-%m-%d"))
airbnb_last_review_df.head()

   listing_id    host_name   last_review last_review_date
0        2595     Jennifer   May 21 2019       2019-05-21
1        3831  LisaRoxanne  July 05 2019       2019-07-05
2        5099        Chris  June 22 2019       2019-06-22
3        5178     Shunichi  June 24 2019       2019-06-24
4        5238          Ben  June 09 2019       2019-06-09

## What are the dates of the earliest and most recent reviews?

In [5]:
earliest_review = airbnb_last_review_df['last_review_date'].min()
latest_review = airbnb_last_review_df['last_review_date'].max()
print(f"The earliest review was on {earliest_review} and the latest review was on {latest_review}")

The earliest review was on 2019-01-01 and the latest review was on 2019-07-09

## How many of the listings are private rooms?

In [6]:
airbnb_room_type_df['room_type'] = airbnb_room_type_df['room_type'].str.lower().astype("category")
room_types = airbnb_room_type_df['room_type'].value_counts()
private_room_count = room_types['private room']
print(f"There are {private_room_count} private rooms listed.")

There are 11356 private rooms listed.

## What is the average listing price?

In [7]:
avg_price = airbnb_price_df['price'].mean().round(decimals=2)

## Combining it all

In [8]:
review_dates = pd.DataFrame({
    'first_reviewed': [earliest_review], 
    'last_reviewed': [latest_review],
    'nb_private_rooms': [private_room_count],
    'avg_price': [avg_price]})

review_dates[['first_reviewed', 'last_reviewed']] = review_dates[['first_reviewed', 'last_reviewed']].apply(pd.to_datetime)#.apply(lambda x: x.dt.strftime("%Y-%m-%d"))
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78