![New York City schoolbus](./images/schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

We have been provided with a dataset called `schools.csv`, which is previewed below.

In [1]:
import pandas as pd
schools = pd.read_csv("data/schools.csv")

We have been tasked with answering three key questions about New York City (NYC) public school SAT performance.
- Which NYC schools have the best math results?
- What are the top 10 performing schools based on the combined SAT scores?
- Which single borough has the largest standard deviation in the combined SAT score?

### Which NYC schools have the best math results?

In [2]:
best_math_schools = schools[schools['average_math'] >= 640]
best_math_schools = best_math_schools[["school_name","average_math"]].sort_values(by="average_math", ascending=False)
best_math_schools.head()

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

### What are the top 10 performing schools based on the combined SAT scores?

In [3]:
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']
+ schools['average_reading']
top_10_schools = schools.sort_values(by="total_SAT", ascending=False).head(10)
top_10_schools = top_10_schools[["school_name", "total_SAT"]]
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

### Which single borough has the largest standard deviation in the combined SAT score?

In [4]:
borough_schools = schools.groupby("borough").agg(
                    num_schools=("school_name", "count"), 
                    average_SAT=("total_SAT", "mean"),
                    std_SAT=("total_SAT", "std")).round(2)
largest_std_dev = borough_schools.sort_values(by="std_SAT", ascending=False).head(1)
largest_std_dev

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29